.container {
    width: 32%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
}

.content {
    width: 90%;
    height: 80%;
    max-width: 400px;
    min-height: 100px;
    min-width: 100px;
    max-height: 400px;
    position: relative;
    background-color: #ff0000;
    border-radius: 5px;
}
